faiss_cpu==1.9.0.post1
httpx==0.28.1
numpy==2.2.0
openai==1.57.4
protobuf==5.29.1
python-dotenv==1.0.1
scikit_learn==1.6.0
sentence_transformers==3.3.1
SQLAlchemy==2.0.35
streamlit==1.40.2
transformers==4.46.3
